#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#contact-title {
  font-family: "Muli", sans-serif;
}

#submit-button {
  padding: 10px 20px;
  background-color: #3c9674;
  color: white;
  border-radius: 10%;
}

#submit-button:hover {
  background-color: #206349;
}

.input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  color: #000000;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.57);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);
  margin-bottom: 10px;
  width: 100%;
}

.input:focus {
  box-shadow: 0 0 10px #3c9674;
  outline-offset: 0px;
  outline: none;
}

.main-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin: auto;
  background-color: white;
  width: 60%;
  -webkit-box-shadow: 0px 4px 13px -4px #000000;
  box-shadow: 0px 4px 13px -4px #000000;
  padding-top: 10px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  .main-row {
    width: 100%;
  }

  #contact-form {
    margin: 10px;
  }

  main {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .input {
    margin-bottom: 30px;
  }
}
