#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
}

/* Change this to a specific style for contact */
.main-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
