.content {
  background-image: url(../images/plantation.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main {
  min-height: 100vh;
}

.navbar {
  background-color: white;
}

.navbar-link {
  color: #3c9674;
}

footer {
  background-color: white;
}
