.landing-image {
  background-image: url(../images/plantation.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-grow: 1;
}

.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: white;
}

.navbar-link {
  color: #3c9674;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services h1 {
  font-family: "Muli", sans-serif;
  font-size: 6vh;
  margin-top: 0px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h3 {
  font-family: "Varela", sans-serif;
}

.service-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
}

.message {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0b3322;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  .message {
    display: flex;
    flex-direction: column;
  }

  .message img {
    width: 80%;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
