#button {
  background-color: rgb(74, 73, 73, 0.9);
  color: white;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10%;
  font-family: "Varela", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin-left: 10px;
  transition: transform 0.3s;
}

#button:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

#landing-image {
  background-image: url(../images/plantation.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-grow: 1;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#services h1 {
  font-family: "Muli", sans-serif;
  font-size: 6vh;
  margin-top: 0px;
}

#service-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
}

#message {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0b3322;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  background-color: white;
}

.navbar-link {
  color: #3c9674;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h3 {
  font-family: "Varela", sans-serif;
}

.motto {
  margin: 0px;
  margin-left: 10px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 4vw;
  letter-spacing: 4px;
  color: white;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  #message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #message img {
    margin: 10px;
    width: 90%;
  }

  #service-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .motto {
    font-size: 7vw;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
