#fertilizer-plant {
  display: flex;
  flex-direction: row;
  width: 90%;
}

#vendors {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 90%;
}

.products-heading {
  font-family: "Muli", sans-serif;
  width: 90%;
}

.products-text {
  font-family: "Jomolhari", serif;
  font-size: 18px;
  width: 90%;
}

.vendor-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.vendor {
  padding: 5px;
  transition: transform 0.3s;
}

.vendor:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  .vendor {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .main-row {
    width: 100%;
  }
}
