#corn-dealers {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 90%;
}

.corn-dealer {
  padding: 5px;
  transition: transform 0.3s;
}

.corn-dealer:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

#dealers-section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#dealers-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#dealers-section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#fertilizer-plant {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.main-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 0px 4px 13px -4px #000000;
  box-shadow: 0px 4px 13px -4px #000000;
  padding-top: 10px;
}

.products-heading {
  font-family: "Muli", sans-serif;
  width: 90%;
}

.products-text {
  font-family: "Jomolhari", serif;
  font-size: 18px;
  width: 90%;
}

main {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgray;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  .corn-dealer {
    width: 95%;
  }

  .main-row {
    width: 100%;
  }

  main {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
