* {
  box-sizing: border-box;
}

.button {
  background-color: rgb(74, 73, 73, 0.9);
  color: white;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10%;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
}

.content {
  height: 100%;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.home-main {
  height: 100%;
}

.main-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Sans", sans-serif;
  background-color: #3c9674;
}

.navbar li {
  border-left: solid 1px black;
  padding: 10px;
}

.navbar-link {
  padding: 15px 5px;
  white-space: nowrap;
  color: white;
  text-decoration: none;
}

.navbar-link:hover {
  color: black;
}

.navbar-link:active {
  color: red;
}

.navbar-logo {
  width: 120px;
  padding: 5px;
}

.motto {
  margin: 0px;
  margin-left: 10px;
  font-family: "Roboto";
  letter-spacing: 4px;
  color: white;
  font-weight: bold;
  font-size: 4vw;
}

body,
html {
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

footer {
  width: 100%;
  background-color: #3c9674;
}

hr {
  background-color: black;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav label,
#hamburger {
  display: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .motto {
    font-size: 6vw;
  }

  /* Show Hamburger */
  nav label {
    display: inline-block;
    color: #fff;
    background: #355e4d;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  nav ul li {
    display: block;
  }
  nav ul li {
    border-top: 1px solid #333;
  }

  /* Toggle show/hide menu on checkbox click */
  nav ul {
    display: none;
  }

  nav input:checked ~ ul {
    display: block;
  }

  .navbar-logo {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
  }
}

/*


RWD



*/

[class*="col-"] {
  float: left;
  border: 1px solid red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-1-sm {
    width: 8.33%;
  }
  .col-2-sm {
    width: 16.66%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-4-sm {
    width: 33.33%;
  }
  .col-5-sm {
    width: 41.66%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-7-sm {
    width: 58.33%;
  }
  .col-8-sm {
    width: 66.66%;
  }
  .col-9-sm {
    width: 75%;
  }
  .col-10-sm {
    width: 83.33%;
  }
  .col-11-sm {
    width: 91.66%;
  }
  .col-12-sm {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-1-md {
    width: 8.33%;
  }
  .col-2-md {
    width: 16.66%;
  }
  .col-3-md {
    width: 25%;
  }
  .col-4-md {
    width: 33.33%;
  }
  .col-5-md {
    width: 41.66%;
  }
  .col-6-md {
    width: 50%;
  }
  .col-7-md {
    width: 58.33%;
  }
  .col-8-md {
    width: 66.66%;
  }
  .col-9-md {
    width: 75%;
  }
  .col-10-md {
    width: 83.33%;
  }
  .col-11-md {
    width: 91.66%;
  }
  .col-12-md {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-1-lg {
    width: 8.33%;
  }
  .col-2-lg {
    width: 16.66%;
  }
  .col-3-lg {
    width: 25%;
  }
  .col-4-lg {
    width: 33.33%;
  }
  .col-5-lg {
    width: 41.66%;
  }
  .col-6-lg {
    width: 50%;
  }
  .col-7-lg {
    width: 58.33%;
  }
  .col-8-lg {
    width: 66.66%;
  }
  .col-9-lg {
    width: 75%;
  }
  .col-10-lg {
    width: 83.33%;
  }
  .col-11-lg {
    width: 91.66%;
  }
  .col-12-lg {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-1-xl {
    width: 8.33%;
  }
  .col-2-xl {
    width: 16.66%;
  }
  .col-3-xl {
    width: 25%;
  }
  .col-4-xl {
    width: 33.33%;
  }
  .col-5-xl {
    width: 41.66%;
  }
  .col-6-xl {
    width: 50%;
  }
  .col-7-xl {
    width: 58.33%;
  }
  .col-8-xl {
    width: 66.66%;
  }
  .col-9-xl {
    width: 75%;
  }
  .col-10-xl {
    width: 83.33%;
  }
  .col-11-xl {
    width: 91.66%;
  }
  .col-12-xl {
    width: 100%;
  }
}
